<div class="content d-flex flex-column flex-column-fluid">
    <div class="container-xxl">
        <div class="row">
            <div class="align-center text-center mb-10">
                <h1><i class="bi bi-building-gear fs-1 text-primary"></i></h1>
                <h1 class="fw-semibold">Orgs</h1>
                <a [routerLink] class="text-primary fw-semibold cursor-pointer" (click)="showCreateOrgSearchBox = true; orgName = undefined;">Create new org</a>

                <div class="input-group w-450px mx-auto mb-5 mt-3" *ngIf="showCreateOrgSearchBox">
                    <span class="input-group-text" id="search-orgs"><i class="bi bi-plus-circle"></i></span>
                    <input type="text" class="form-control" placeholder="myorg" [(ngModel)]="orgName">
                    <button class="btn btn-primary" [disabled]="!orgName" (click)="saveOrg(orgName!)">Save</button>
                    <button href="#" class="btn bg-body" (click)="showCreateOrgSearchBox = false">Cancel</button>
                </div>

                <div class="input-group w-450px mx-auto mt-5">
                    <span class="input-group-text" id="search-orgs"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control" placeholder="Find an org..." [(ngModel)]="filterOrg">
                </div>
            </div>

            <ng-container *ngIf="orgs && orgs.totalElements > 0">
                <div class="col-8 offset-2">
                    <div class="row">
                        <div class="col-6 mb-5" *ngFor="let org of orgs!.content! | textSearchFilter: filterOrg!: 'name'">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title align-items-start flex-column">
                                        <a class="card-label fs-5" [routerLink]="['/', 'orgs', org.name]">{{ org.name }}</a>
                                        <span class="text-gray-500 mt-1 fw-semibold fs-8">
                                            Created {{ org.createdAt | date:'yyyy-MM-dd' }}</span>
                                    </h3>
                                    <div class="card-toolbar">
                                        <button class="btn btn-icon btn-color-gray-500 btn-active-color-primary justify-content-end"
                                            (click)="orgIdForDeletion = org.id">
                                            <i class="bi bi-trash3"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-footer py-3 border-transparent" *ngIf="orgIdForDeletion == org.id">
                                    <div class="alert alert-danger">
                                        <p>Removing this org will also remove all associated pipelines.</p>
                                        <div class="d-flex flex-end">
                                            <button class="btn btn-light btn-sm me-1" (click)="orgIdForDeletion = -1">Cancel</button>
                                        <button class="btn btn-danger btn-sm" (click)="deleteOrg(org)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="col-6 offset-3 text-center alert alert-danger" *ngIf="!orgs || orgs.totalElements == 0">
                No orgs found. <a [routerLink] class="text-primary fw-semibold cursor-pointer" 
                    (click)="showCreateOrgSearchBox = true; orgName = undefined;">Create new org</a> to get started.
            </div>

            <div class="col-6 offset-3 text-center alert alert-danger" *ngIf="error">
                {{ error }}
            </div>
        </div>
    </div>	
</div>
