<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            
            <div class="card py-5">
                <div class="card-body text-center">
                    <div class="mb-5">
                        <i class="bi bi-houses fs-1 text-primary"></i>
                    </div>
                    <h3>Add new pipelines</h3>
                    <p>Start by adding an org. You can later add & associate pipelines and group them together.</p>
                    <p class="border-bottom"></p>

                    <div *ngIf="orgs && orgs.totalElements > 0">
                        <div class="row mb-2 mt-10 text-start">
                            <div class="col-3">
                                <div class="fw-semibold mt-2 mb-3">Org</div>
                            </div>
                            <div class="col-9">
                                <select class="form-select form-select-solid" aria-label="Select example">
                                    <option>Select an org</option>
                                    <option *ngFor="let org of orgs.content">{{ org.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3 text-start">
                            <div class="col-xl-3">
                                <div class="fw-semibold mt-2 mb-3">Host</div>
                            </div>
                            <div class="col-9">
                                <select class="form-select form-select-solid" aria-label="Select example">
                                    <option>Select a host</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3 text-start">
                            <div class="col-xl-3">
                                <div class="fw-semibold mt-2 mb-3">Credentials</div>
                            </div>
                            <div class="col-9">
                                <select class="form-select form-select-solid" aria-label="Select example">
                                    <option>Select credentials</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="row text-end">
                            <div class="col-xl-3"></div>
                            <div class="col-xl-9">
                                <button type="submit" class="btn btn-primary mt-4" (click)="discoverPipelines()">Discover pipelines</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
