<div class="container">
    <div class="row">
      <div class="col-12 mb-10">
          <div class="align-center text-center">
              <h1><i class="bi bi-building-gear fs-1 text-primary"></i></h1>
              <h1 class="fw-semibold">Pipelines</h1>
              <p>
                <a routerLink="." (click)="changeView(0)" *ngIf="activeView != 0">Listing</a>
                <a routerLink="." (click)="changeView(1)" *ngIf="activeView != 1">Metrics</a> &middot;  
                <a routerLink="/pipelines">Add pipelines</a>
              </p>
              
              <div class="input-group w-450px mx-auto" *ngIf="activeView == 0">
                  <span class="input-group-text" id="search-pipelines"><i class="bi bi-search"></i></span>
                  <input type="text" class="form-control" placeholder="Find a pipeline...">
              </div>
          </div>
      </div>
  </div>

  <div class="col-6 offset-3 text-center alert alert-danger" *ngIf="pipelinePage && !pipelinePage.totalElements">
    No pipelines found. Click <a href="/pipelines">Add pipelines</a> to get started.
  </div>

  <div class="col-8 offset-2" *ngIf="pipelinePage && 0 < pipelinePage.totalElements && activeView == 1">
    <!-- build result -->
    <div *ngIf="heatmapOptions">
        <apx-chart id="heatmap"
            [series]="heatmapOptions.series"
            [chart]="heatmapOptions.chart"
            [dataLabels]="heatmapOptions.dataLabels"
            [plotOptions]="heatmapOptions.plotOptions"
            [stroke]="heatmapOptions.stroke"
            [title]="heatmapOptions.title"
            [xaxis]="heatmapOptions.xaxis"
            [tooltip]="heatmapOptions.tooltip">
        </apx-chart>
    </div>

    <!-- build performance -->
    <h3 class="text-primary fs-7 ms-3">Performance</h3>
    <div class="row">
        <div class="col-4" *ngFor="let data of perfLineChartData">
            <div *ngIf="perfLineChartOptions">
                <apx-chart
                    [series]="data.series"
                    [chart]="perfLineChartOptions.chart"
                    [xaxis]="data.xaxis"
                    [dataLabels]="perfLineChartOptions.dataLabels"
                    [grid]="perfLineChartOptions.grid"
                    [stroke]="perfLineChartOptions.stroke"
                    [title]="data.title"
                ></apx-chart>
            </div>
        </div>
    </div>

    <!-- test growth -->
    <h3 class="text-primary fs-7 ms-3">Tests Run</h3>
    <div class="row">
        <div class="col-4" *ngFor="let data of testsLineChartData">
            <div *ngIf="testsLineChartOptions">
                <apx-chart
                    [series]="data.series"
                    [chart]="testsLineChartOptions.chart"
                    [xaxis]="data.xaxis"
                    [dataLabels]="testsLineChartOptions.dataLabels"
                    [grid]="testsLineChartOptions.grid"
                    [stroke]="testsLineChartOptions.stroke"
                    [title]="data.title"
                ></apx-chart>
            </div>
        </div>
    </div>
  </div>

  <div class="row" *ngIf="pipelinePage && 0 < pipelinePage.totalElements && activeView == 0">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="col-6 mb-5" *ngFor="let job of jenkinsJobs">
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title align-items-start flex-column">
                            <a class="card-label fw-semibold text-gray-900 fs-5" [routerLink]="['pipelines', job.pipeline.id]">{{ job.name }}</a>
                            <span class="text-gray-500 mt-1 fw-semibold fs-7">{{ job._class }}</span>
                        </h3>
                        <div class="card-toolbar">
                            <button class="btn btn-icon btn-color-gray-500 btn-active-color-primary justify-content-end" (click)="pipelineIdForDeletion = job.pipeline.id">
                                <i class="bi bi-trash3 text-muted link-danger"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body pt-5">
                        <div class="d-flex flex-stack" *ngIf="job.builds.length">
                            <div>
                                <span>
                                    <i class="bi bi-check-circle text-success text-xs" title="result: SUCCESS" 
                                        *ngIf="getBuildStatus(job) == 'SUCCESS'"></i>
                                    <i class="bi bi-x-circle text-danger text-xs" title="result: FAILURE" 
                                        *ngIf="getBuildStatus(job) == 'FAILURE'"></i>
                                    <i class="bi bi-x-circle text-warning text-xs" title="result: {{ getBuildStatus(job) }}" 
                                        *ngIf="['UNSTABLE', 'CANCELLED'].includes(getBuildStatus(job))"></i>
                                    <i class="bi bi-check-circle text-muted text-xs" title="result: {{ getBuildStatus(job) }}" 
                                        *ngIf="['NOT_BUILT', 'UNKNOWN'].includes(getBuildStatus(job))"></i>
                                    <span class="spinner-border spinner-border-sm text-muted" *ngIf="getBuildStatus(job) == 'BUILDING'"></span>
                                    {{ job.builds[job.builds.length - 1].displayName }}
                                </span>
                            </div>
                            <div class="text-muted fw-semibold">
                                <span><i class="bi bi-clock"></i> {{ getLastBuildDuration(job) }} </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer py-3" *ngIf="pipelineIdForDeletion == job.pipeline.id">
                        <div class="alert alert-danger">
                            <div class="d-flex flex-end">
                                <div style="height: 30px; flex: auto;">Delete pipeline?</div>
                                <button class="btn btn-light btn-sm me-2" (click)="pipelineIdForDeletion = -1">Cancel</button>
                                <button class="btn btn-danger btn-sm" (click)="deletePipeline(job.pipeline)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
