<div class="container">
    <div class="row">
      <div class="col-12 mb-10">
          <div class="align-center text-center">
              <h1><i class="bi bi-building-gear fs-1 text-primary"></i></h1>
              <h1 class="fw-semibold">Pipelines</h1>
              <p>
                <a routerLink="." (click)="activeView = 0" *ngIf="activeView != 0">Listing</a>
                <a routerLink="." (click)="activeView = 1" *ngIf="activeView != 1">Metrics</a> &middot;  
                <a routerLink="/new">Add pipelines</a>
              </p>
              <p class="mb-5" *ngIf="activeView == 0">Listing of all pipelines for extent-framework org</p>
              
              <div class="input-group w-450px mx-auto" *ngIf="activeView == 0">
                  <span class="input-group-text" id="search-pipelines"><i class="bi bi-search"></i></span>
                  <input type="text" class="form-control" placeholder="Find a pipeline...">
              </div>
          </div>
      </div>
  </div>

  <div class="col-6 offset-3 text-center alert alert-danger" *ngIf="pipelinePage && !pipelinePage.totalElements">
    No pipelines found. Click <a href="/new">Add pipelines</a> to get started.
  </div>

  <div class="col-8 offset-2" *ngIf="activeView == 1">
    <div id="heatmap">
        <apx-chart
            [series]="heatmapOptions.series"
            [chart]="heatmapOptions.chart"
            [dataLabels]="heatmapOptions.dataLabels"
            [plotOptions]="heatmapOptions.plotOptions"
            [stroke]="heatmapOptions.stroke"
            [title]="heatmapOptions.title"
            [xaxis]="heatmapOptions.xaxis"
            [tooltip]="heatmapOptions.tooltip">
        </apx-chart>
    </div>

    <div class="row">
        <div class="col-4" *ngFor="let data of lineChartData">
            <div>
                <apx-chart
                    [series]="data.series"
                    [chart]="lineChartOptions.chart"
                    [xaxis]="data.xaxis"
                    [dataLabels]="lineChartOptions.dataLabels"
                    [grid]="lineChartOptions.grid"
                    [stroke]="lineChartOptions.stroke"
                    [title]="data.title"
                ></apx-chart>
            </div>
        </div>
    </div>
  </div>

  <div class="row" *ngIf="pipelinePage && 0 < pipelinePage.totalElements && activeView == 0">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="col-6 mb-5" *ngFor="let job of jenkinsJobs">
                <div class="card card-flush">
                    <div class="card-header">
                        <h3 class="card-title align-items-start flex-column">
                            <a class="card-label fw-semibold text-gray-900 fs-5" [routerLink]="['pipelines', job.pipeline.id]">{{ job.name }}</a>
                            <span class="text-gray-500 mt-1 fw-semibold fs-7">{{ job._class }}</span>
                        </h3>
                    </div>
                    <div class="card-body pt-5">
                        <div class="d-flex flex-stack" *ngIf="job.builds.length">
                            <div>
                                <span>
                                    <i class="bi bi-check-circle text-success text-xs" title="result: SUCCESS" 
                                        *ngIf="getBuildStatus(job) == 'SUCCESS'"></i>
                                    <i class="bi bi-x-circle text-danger text-xs" title="result: FAILURE" 
                                        *ngIf="getBuildStatus(job) == 'FAILURE'"></i>
                                    <i class="bi bi-x-circle text-warning text-xs" title="result: {{ getBuildStatus(job) }}" 
                                        *ngIf="['UNSTABLE', 'CANCELLED'].includes(getBuildStatus(job))"></i>
                                    <i class="bi bi-check-circle text-muted text-xs" title="result: {{ getBuildStatus(job) }}" 
                                        *ngIf="['NOT_BUILT', 'UNKNOWN'].includes(getBuildStatus(job))"></i>
                                    <span class="spinner-border spinner-border-sm text-muted" *ngIf="getBuildStatus(job) == 'BUILDING'"></span>
                                    {{ job.builds[0].displayName }}
                                </span>
                            </div>
                            <div class="text-muted fw-semibold">
                                <span><i class="bi bi-clock"></i> {{ Math.trunc(job.builds[0].duration/1000) + 's' }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
